.explorer-bg {
	position: relative;
	--explorer-primary: rgb(255, 196, 0);
	--explorer-secondary: green;

	&::before {
		content: '';
		position: absolute;
		top: 15rem;
		left: 10%;
		width: 30%;
		height: 30rem;
		border-radius: 50%;
		filter: blur(15rem);
		background: var(--explorer-primary);
		z-index: -1;
	}

	&::after {
		content: '';
		position: absolute;
		top: 10rem;
		right: 10%;
		width: 30%;
		height: 30rem;
		border-radius: 50%;
		filter: blur(15rem);
		background: var(--explorer-secondary);
		z-index: -1;
	}
}
