@import 'tailwindcss';

@font-face {
	font-family: 'Netflix Sans';
	src: url('/fonts/NetflixSans-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Netflix Sans';
	src: url('/fonts/NetflixSans-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Netflix Sans';
	src: url('/fonts/NetflixSans-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Netflix Sans';
	src: url('/fonts/NetflixSans-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

:root {
	font-size: clamp(5px, min(3svh, 3vw), 16px);
}

body {
	margin: 0;
	padding: 0;
	background: var(--black);
	color: white;
	font-family: 'Netflix Sans';
	font-weight: 400;
	--red: rgb(213, 53, 34); /* #D53522 */
	--black: rgb(30, 30, 30); /* #141414 */
	font-size: 2rem;
}

body::-webkit-scrollbar {
	width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
	background: var(--red);
	border-radius: calc(infinity * 1px);
}

body::-webkit-scrollbar-track {
	background: transparent;
}

#root {
	transform: scale(var(--body-sizing, 1));
	transition: transform 0.2s ease, filter 0.2s ease;
	filter: blur(var(--body-blur, 0px));
}

.red {
	color: var(--red);
}

.show {
	border: 1px solid red;

	& * {
		border: 1px solid red;
	}
}

.lighten {
	transition: 0.1s linear;

	&:hover {
		filter: brightness(1.2);
	}
}

.dotted-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.scrollable {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-color: var(--red) transparent;
}

.scrollable::-webkit-scrollbar {
	background: transparent;
	width: 1.5rem;
	margin: 1rem;
}

.scrollable::-webkit-scrollbar-thumb {
	background: var(--red);
	border-radius: 50rem;
	width: 80%;
	cursor: grab;
}

.scrollable::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}
